<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.latte.article.repository.ArticleMapper">

    <!--아티클 정렬-->
    <sql id="sort">
        <choose>
            <!-- 최신순 -->
            <when test="sort == null or sort  == '' or sort == 'recent'">
                ORDER BY A.article_no, A.reg_date ASC
            </when>
            <!-- 조회순 -->
            <when test="sort == 'viewCnt'">
                ORDER BY A.view_cnt DESC
            </when>
            <!-- 좋아요순 -->
            <when test="sort == 'likeCnt'">
                ORDER BY A.like_cnt DESC
            </when>
        </choose>
    </sql>

    <!--아티클 목록 조회-->
    <select id="getArticleList" resultType="com.latte.article.response.ArticleResponse">
        /* ArticleMapper.getArticleList */
        SELECT
            A.article_no
             , A.image_url
             , A.title
             , A.sub_title
             , A.content
             , A.writer_no
             , M.mbr_id
             , A.view_cnt
             , A.like_cnt
             , A.delete_yn
             , A.reg_date
             , A.update_date
        FROM ARTICLE A LEFT JOIN tb_member M ON A.writer_no = M.mbr_no
        WHERE A.delete_yn = 'N'
        <if test='keyword != null'>
            AND ( title like CONCAT ('%', #{keyword}, '%')
/*            OR sub_title like CONCAT ('%', #{keyword}, '%')
            OR content like CONCAT ('%', #{keyword}, '%') )*/
        </if>
        <include refid="sort" />
        LIMIT #{pageable.offset}, #{pageable.pageSize}
    </select>


    <!--전체 아티클 수-->
    <select id="totalCount" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM ARTICLE
        <if test='keyword != null'>
            WHERE  title like CONCAT ('%', #{keyword}, '%')
        </if>
    </select>


    <!--아티클 상세 조회-->
    <select id="detailArticle" parameterType="int" resultType="com.latte.article.response.ArticleResponse">
        SELECT
               A.article_no
             , A.image_url
             , A.title
             , A.sub_title
             , A.content
             , A.writer_no
             , M.mbr_id
             , A.view_cnt
             , A.like_cnt
             , A.delete_yn
             , A.reg_date
             , A.update_date
        FROM ARTICLE A LEFT JOIN tb_member M ON A.writer_no = M.mbr_no
        WHERE A.delete_yn = 'N'
            and `article_no` = #{articleNo}
    </select>


    <!--아티클 내용 수정-->
    <update id="updateArticle" parameterType="com.latte.article.request.ArticleRequest">
        <!--ArticleMapper.updateArticle-->
        UPDATE `ARTICLE`
        set
          `image_url` = #{imageUrl}
        , `title` = #{title}
        , `content` = #{content}
        , `update_date` = NOW()
        WHERE
        `article_no`=#{articleNo}
    </update>

    <!--아티클 삭제-->
    <delete id="deleteArticle" parameterType="int">
        <!--ArticleMapper.deleteArticle-->
        UPDATE `ARTICLE`
        set
        delete_yn = 'Y'
        WHERE
        `article_no`=#{articleNo}
    </delete>


    <!-- 작성자 확인 여부 -->
    <select id="isArticleAuthor" parameterType="int" resultType="int">
        /* ArticleMapper.isArticleAuthor */
        SELECT
            COUNT(*)
        FROM
            ARTICLE
        WHERE
            `article_no` = #{articleNo}
            AND `writer_no` = #{writerNo}
    </select>


    <!--조회 수-->
    <update id="viewCount">
        UPDATE ARTICLE
        SET view_cnt = view_cnt + 1
        WHERE `article_no`=#{articleNo}
    </update>


    <!--좋아요 추가-->
    <insert id="likeCount">
        INSERT INTO ARTICLE_LIKE (
             article_no
            , reg_no
            , reg_date
        ) VALUES (
                  #{articleNo}
                 , #{regNo}
                 , NOW()
        )
    </insert>

    <!--좋아요 삭제-->
    <delete id="unlikeCount" parameterType="int">
        DELETE FROM ARTICLE_LIKE
        WHERE like_no = #{likeNo}
    </delete>

    <!--아티클 좋아요 수정-->
    <update id="updateArticleLike"  parameterType="int">
        UPDATE ARTICLE
        SET
            like_cnt = (SELECT COUNT(*)
                             FROM ARTICLE_LIKE
                             WHERE article_no = #{articleNo})
        WHERE article_no = #{articleNo}
    </update>


    <!--등록자 좋아요-->
    <select id="findLikeByArticleRegNo" parameterType="int" resultType="Integer">
        SELECT like_no
        FROM ARTICLE_LIKE
        WHERE article_no = #{articleNo}
          AND reg_no = #{regNo}
    </select>



    <!--아티클 등록-->
    <insert id="insertArticle" parameterType="com.latte.article.request.ArticleRequest" useGeneratedKeys="true" keyProperty="articleNo">
        /* ArticleMapper.insertMember */
        INSERT INTO ARTICLE (
                              article_no
                            , image_url
                            , title
                            , content
                            , writer_no
                            , view_cnt
                            , like_cnt
                            , delete_yn
                            , reg_date
                            , update_date
        ) VALUES (
                   #{articleNo}
                 , #{imageUrl}
                 , #{title}
                 , #{content}
                 , #{writerNo}
                 , #{viewCnt}
                 , #{likeCnt}
                 , "N"
                 , NOW()
                 , NULL
                 )
    </insert>

</mapper>