<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.latte.article.repository.ArticleMapper">
    <!-- tb_member 테이블 전체 컬럼 -->
        <sql id="articleColumns">
              article_no
            , image_url
            , title
            , content
            , writer_no
            , view_cnt
            , like_cnt
            , delete_yn
            , reg_date
            , update_date
        </sql>

    <!--아티클 목록 조회-->
    <select id="getArticleList" resultType="list">
        SELECT
        <include refid="articleColumns" />
        FROM article
    </select>


    <!--아티클 상세 조회-->
    <select id="detailArticle" parameterType="int" resultType="com.latte.article.response.ArticleResponse">
        SELECT
        <include refid="articleColumns" />
        FROM article
        where article_no = #{articleNo}
    </select>


    <!--아티클 내용 수정-->
    <update id="updateArticle" parameterType="com.latte.article.request.ArticleRequest">
        <!--ArticleMapper.updateArticle-->
        UPDATE `ARTICLE`
        set
          `image_url` = #{imageUrl}
        , `title` = #{title}
        , `content` = #{content}
        , `writer_no` = #{writerNo}
        , `update_date` = NOW()
        WHERE
        `article_no`=#{articleNo}
    </update>

    <!--아티클 삭제-->
    <delete id="deleteArticle" parameterType="int">
        <!--ArticleMapper.deleteArticle-->
        UPDATE `ARTICLE`
        set
        delete_yn = 'Y'
        WHERE
        `article_no`=#{articleNo};
    </delete>

    <!-- 회원 수 카운팅 (ID 중복 체크) -->
    <select id="countByLoginId" parameterType="string" resultType="int">
        /* AuthMapper.countByLoginId */
        SELECT
            COUNT(*)
        FROM
            tb_member
        WHERE
            mbr_id = #{mbrId}
    </select>


    <!--아티클 등록-->
    <insert id="insertArticle" parameterType="com.latte.article.request.ArticleRequest" useGeneratedKeys="true" keyProperty="articleNo">
        /* ArticleMapper.insertMember */
        INSERT INTO ARTICLE (
                              article_no
                            , image_url
                            , title
                            , content
                            , writer_no
                            , view_cnt
                            , like_cnt
                            , delete_yn
                            , reg_date
                            , update_date
        ) VALUES (
                   #{articleNo}
                 , #{imageUrl}
                 , #{title}
                 , #{content}
                 , #{writerNo}
                 , #{viewCnt}
                 , #{likeCnt}
                 , "N"
                 , NOW()
                 , NULL
                 )
    </insert>

</mapper>