<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.latte.drink.repository.DrinkMapper">

    <select id="findHomeResponse" resultType="DrinkMenuResponse">
        SELECT DISTINCT
            MENU.MENU_NO,
            MENU.MENU_NAME,
            MENU.BRAND,
            MENU.CAFFEINE,
            MENU.MENU_SIZE,
            MENU.IMAGE_URL
        FROM DRINK
        JOIN MENU
            ON DRINK.MENU_NO = MENU.MENU_NO
        WHERE MBR_NO = #{mbrNo}
            AND REQ_DATE &lt;= #{today}
        ORDER BY (SELECT DRINK_NO FROM DRINK WHERE DRINK.MENU_NO = MENU.MENU_NO ORDER BY DRINK_NO DESC LIMIT 1) DESC
        LIMIT 5
    </select>


    <select id="findCalendar" resultType="DateResponse">
        SELECT DAY(REQ_DATE) AS DATE, SUM(CAST(SUBSTRING(MENU.CAFFEINE, 1, LENGTH(MENU.CAFFEINE) - 2) AS UNSIGNED)) AS CAFFEINE
        FROM DRINK
            JOIN MENU
        ON DRINK.MENU_NO = MENU.MENU_NO
        WHERE MBR_NO = #{mbrNo}
          AND REQ_DATE &gt;= #{startDateTime}
          AND REQ_DATE &lt;= #{lastDateTime}
        GROUP BY REQ_DATE
        ORDER BY REQ_DATE ASC
    </select>

    <select id="findSumCaffeineByMonth" resultType="int">
        SELECT IFNULL(SUM(CAST(SUBSTRING(MENU.CAFFEINE, 1, LENGTH(MENU.CAFFEINE) - 2) AS UNSIGNED)), -1)
        FROM DRINK
                 JOIN MENU
                      ON DRINK.MENU_NO = MENU.MENU_NO
        WHERE MBR_NO = #{mbrNo}
          AND REQ_DATE &gt;= #{startDateTime}
          AND REQ_DATE &lt;= #{lastDateTime}
    </select>


    <select id="findSumCaffeineByDate" resultType="DateStatusResponse">
        SELECT
            SUM_TABLE.SUM_CAFFEINE AS CAFFEINE,
            CASE
                WHEN SUM_TABLE.SUM_CAFFEINE IS NULL THEN '없음'
                WHEN SUM_TABLE.SUM_CAFFEINE &lt; #{minNormal} THEN '낮음'
                WHEN SUM_TABLE.SUM_CAFFEINE &gt; #{maxNormal} THEN '높음'
                ELSE '보통'
                END AS STATUS
        FROM (
                 SELECT IFNULL(SUM(CAST(SUBSTRING(MENU.CAFFEINE, 1, LENGTH(MENU.CAFFEINE) - 2) AS UNSIGNED)), NULL) AS SUM_CAFFEINE
                 FROM DRINK
                          JOIN MENU
                               ON DRINK.MENU_NO = MENU.MENU_NO
                 WHERE MBR_NO = #{mbrNo}
                   AND REQ_DATE = #{localDateTime}
             ) AS SUM_TABLE
    </select>


    <select id="findMenuByDate" resultType="DrinkMenuResponse">
        SELECT MENU.MENU_NO,
               MENU.MENU_NAME,
               MENU.BRAND,
               MENU.CAFFEINE,
               MENU.MENU_SIZE,
               MENU.IMAGE_URL
        FROM DRINK
                 JOIN MENU
                      ON DRINK.MENU_NO = MENU.MENU_NO
        WHERE MBR_NO = #{mbrNo}
          AND REQ_DATE = #{localDateTime}
    </select>


    <insert id="saveDrinkMenu">
        INSERT INTO DRINK(MBR_NO, MENU_NO, REQ_DATE)
        VALUES (#{mbrNo}, #{menuNo}, #{localDateTime})
    </insert>

</mapper>